<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.auth.testscripts.PostCreateUser"/>
      <class name="com.atmecs.auth.testscripts.GetUser"/>
      <class name="com.atmecs.auth.testscripts.PutUpdateUser"/>
      <class name="com.atmecs.auth.testscripts.DeleteUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
